apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: envoy
  namespace: monitoring
  labels:
    release: prometheus
spec:
  namespaceSelector:
    any: true
  selector:
    matchExpressions:
      - key: app
        operator: Exists
  podMetricsEndpoints:
    - port: admin
      path: /stats/prometheus
      interval: 15s

